name: 'Welcome New Contributors'

on:
  issues:
    types: [opened]
  pull_request_target:
    types: [opened]

jobs:
  welcome-new-contributor:
    runs-on: ubuntu-latest
    steps:
      - name: 'Greet the contributor'
        uses: garg3133/welcome-new-contributors@v1.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          issue-message: |
            Thank you for opening your first issue in our repository, one of our maintainers will get in touch with you soon.
            
            Best of luck on your Contributions
          pr-message: |
            Thank you for opening your first pull request in our repository, one of our maintainers will get in touch with you soon.
           
            Best of luck on your Contributions
